# Data Files (need ethical approval)
*.csv
*.dat
*.dta
*.xlsx
*.png
*.h5
ml-100k
ml-1m
*.Rhistory
*.RData
twitter.txt
firebaseConfig.txt
life-firebase-adminsdk.json
Spark/checkpoint
srl.txt
cfa_srl.txt
fort.16
